:root {
    --accent-color: #722FFF;
    --accent-color-900: #070924;
}

.hellobar {
    background: var(--accent-color-900);
    border-bottom-color: var(--accent-color);
    color: white;
}

.hellobar a {
    color: white;
}


header {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* HOME START */

.home header {
    position: relative;
    top: 0;
    display: flex;
    padding: 20px;
    grid-area: header;
    flex-direction: column;
}

.home header img {
    width: 150px;
    height: auto;
}

.home img#tpg-wordmark {
    top: 23px;
    position: absolute;
}

@media (min-width: 768px) {
    .home header {
        position: sticky;
    }
}

/* HOME END */