html,
body {
    background: #ecf0f3;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

img#tpg-wordmark {
    top: 23px;
    position: absolute;
}

section.sub-brands-container {
    max-width: 800px;
}

header img {
    width: 150px;
    height: auto;
}

header nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

header nav a.external-url {
    display: flex;
    align-items: center;
    flex-direction: row;
}

header header img.external-url-icon {
    height: 16px;
    margin-right: 6px;
    margin-top: -3px;
    width: 10px;
}

* {
    font-family: BiotifMedium;
}

.BiotifMedium {
    font-family: BiotifMedium;
}

.BiotifBold {
    font-family: BiotifBold;
}

.BiotifExtraBold {
    font-family: BiotifExtraBold;
}

h1,
h2,
h3,
h4,
h5 {
    color: #12123a;
}

p,
p a,
li,
p strong,
p span,
li strong,
li span {
    font-family: 'freight-text-pro', serif;
}

h2.title-2 {
    margin-top: 0;
    padding-top: 0;
}

.heading-4 {
    font-size: 25.5px;
    line-height: 34px;
    padding-bottom: 10px;
}

img#tpg-wordmark {
    top: 23px;
    position: absolute;
}

img.web-icon {
    height: 25px;
    margin-right: 8px;
    margin-top: -2px;
}

.home-container {
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-areas:
        'header'
        'main';
}

@media (min-width: 768px) {
    .home-container {
        justify-items: unset;
        grid-template-columns: minmax(190px, 220px) 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'header main'
    }
}

header.home {
    grid-area: header;
}

main.home {
    grid-area: main;
}




header {
    display: flex;
}

header img {
    width: 150px;
    height: auto;
}

header nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

iframe {
    max-width: 100%;

}

hr {
    margin: 45px auto;
}

header.home {
    position: relative;
    top: 0;
    display: flex;
    padding: 20px;
}

@media (min-width: 768px) {
    header.home {
        position: sticky;
    }
}

main.home {
    padding-inline: 15px;
}

main.sub-sitio {
    margin-top: 1px;
    margin-left: 3px;

}

#home-cover {
    max-width: 990px;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid #0709240d;
}


#home-cover p {
    max-width: 490px;
}

.sub-brand {
    margin-bottom: 2rem;
}

a {
    position: relative;
    width: max-content;
    color: #4f4f58;
}

a.web-url {
    display: flex;
    align-items: center;
    flex-direction: row;
}

a.web-url:before {
    bottom: -4px;
}

a img {
    display: inherit;
}



.current-page {
    opacity: 0.4;
}

a:not(.current-page):hover {
    color: #000000;
}

a img.external-url-icon,
a img.web-icon {
    opacity: 0.6;
}

a:hover img.external-url-icon,
a:hover img.web-icon {
    opacity: 1;
}

/* h1 with images -seo- ///////////////////////*/
.polyfen a {
    width: 153px;
    height: 50px;
}

.polyatlas a {
    width: 175px;
    height: 50px;
}

.polycookies a {
    width: 206px;
    height: 50px;
}

.polyforum a {
    width: 194px;
    height: 50px;
}

.polyqwerty a {
    width: 223px;
    height: 50px;
}

.polykit a {
    width: 207px;
    height: 50px;
}

.polypress a {
    width: 223px;
    height: 50px;
}

.--sub-brand a span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-size: contain !important;
}

.polyfen a span {
    background: #ecf0f3 url(../imgs/sub-brands/polyfen-logo.svg) no-repeat left top;
}

.polyatlas a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-atlas-logo.svg) no-repeat left top;
}

.polycookies a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-cookies-logo.svg) no-repeat left top;
}

.polyforum a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-forum-logo.svg) no-repeat left top;
}

.polyqwerty a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-qwerty-logo.svg) no-repeat left top;
}

.polykit a span {
    background: #ecf0f3 url(../imgs/sub-brands/polykit-logo.svg) no-repeat left top;
}

.polypress a span {
    background: #ecf0f3 url(../imgs/sub-brands/polypress-logo.svg) no-repeat left top;
}

/* end h1 with images -seo- ///////////////////////*/

/* The navigation bar ------------------ */

/*reset agregado para buttons*/
.hello-nav button {
    border: none;
    /* Elimina el borde por defecto */
    background: none;
    /* Elimina el fondo por defecto */
    padding: 0;
    /* Elimina el espacio interno por defecto */
    font: inherit;
    /* Utiliza la fuente del elemento contenedor */
    cursor: pointer;
    /* Muestra el cursor como puntero */
    outline: none;
    /* Elimina el contorno por defecto al enfocar */
}

/* END reset agregado para buttons*/


.hello-nav div {
    text-align: right;
}

.nav-links.position-fixed,
.nav-buttons {
    position: fixed;
    background: #ecf0f37d;
    backdrop-filter: blur(10px);
    z-index: 90;
    border: 1px solid #4f4f581f;
}


.nav-links a {
    text-decoration: none;
}

/* desktop */
@media (min-width: 768px) {
    .nav-buttons {
        display: none;
    }

    .nav-links {
        position: absolute;
        right: 15px;
        top: 55px;
        padding-block: 10px;
        display: flex;
        gap: 15px;
        padding: 15px 28px;
        border-radius: 200px;
    }

    .nav-links.position-fixed {
        top: 20px;
    }
}

/* mobile */
@media (max-width: 768px) {
    #home-cover {
        padding-top: unset;

    }

    .nav-links {
        display: none;
        position: fixed;
        backdrop-filter: blur(10px);
        top: 0;
        right: 0px;
        padding-top: 100px;
        padding-bottom: 100vh;
        width: 100%;
        z-index: 80;
        display: none;
        text-align: left;
        font-family: 'BiotifBold', helvetica, arial, sans-serif;
        font-weight: 700;
        background-color: #ecf0f37d;
    }

    .nav-buttons {
        padding: 7px 8px;
        border-radius: 18px;
        right: 15px;
        top: 55px;
    }

    .hamburger svg {
        fill: #1d272c;
    }

    .nav-hamburger {
        display: flex;
    }

    .nav-links a {
        padding-left: 20px;
        font-size: 8vw;
        padding: 14px 16px;
        color: #12123a;
    }

    .nav-close {
        z-index: 89;
        display: none;
    }

    .nav-links.open-nav {
        display: grid !important;
    }

    body:has(.nav-links.open-nav) {
        overflow: hidden;
    }

    .nav-links.open-nav+.nav-buttons :is(.nav-hamburger) {
        display: none;
    }

    .nav-links.open-nav+.nav-buttons :is(.nav-close) {
        display: block;
    }

    .nav-links.open-nav+.nav-buttons {
        background: none;
    }
}

/* END of navigation bar ----------------- */

/* family-of-brands */
.sub-brand {
    display: grid;
    grid-template-areas:
        'logos'
        'screens'
        'texts'
        'links';
    gap: 2rem 3rem;
}

.sub-brand p {
    margin-bottom: unset;
    padding-top: unset;
}

@media (min-width: 768px) {
    .sub-brands-container {
        padding-inline: 20px;
    }

    .sub-brand {
        grid-template-areas:
            'screens logos'
            'screens texts'
            'screens links';
        justify-content: start;
    }

    .sub-brand .screen {
        margin-top: unset;
        aspect-ratio: 4/3;
        width: 100%;
        width: 299px;
    }
}

.--sub-brand {
    grid-area: logos;
}

.sub-brand p {
    grid-area: texts;
    color: #4f4f58;
}

.sub-brand .links {
    grid-area: links;
}

.sub-brand .screen {
    grid-area: screens;
}

a.screen {
    width: unset;
}

/* hide sub-brands from home page*/
main.home :is(#polyforum, #polypress) {
    display: none;
}

main.home .sub-brands-container hr:nth-last-of-type(-n+2) {
    display: none;
}

/*end hide sub-brands*/


/* end family-of-brands */

/* hello social media */
.hello-social {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-inline: 0;
    padding-block: 7px;
    background-color: #1d272c;
    ;
    border-bottom: 8px solid #7637f9;

}

.hello-social a::before,
.hello-nav a::before,
.link-logo:hover::before {
    content: none;
}


.icon-social svg,
.icon-social {
    width: 20px;
    height: 20px;
    fill: #ffffffad;
    display: block;
}

.icon-social svg:hover {
    fill: #ffffff;
}

/* end hello social media */


/*************************** sub-styles *************************************/
.sub-sites-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    grid-template-areas:
        'header'
        'main';
}


nav.sub-sites {
    grid-area: header;
}

main.sub-sites {
    grid-area: main;
    padding-top: 80px;
    margin-inline: unset;
    padding-right: 10px;
}

#navbar li {
    line-height: 1;
}

/* espacio al final de las tablas de contenido */
ul.toc {
    padding-bottom: 80px;
    overflow-y: auto;
}

/* espacio al final de las tablas de contenido */
ul.toc {
    padding-bottom: 80px;
}

/*///////////Media queries///////////*/
/* mobile */
@media (max-width: 768px) {
    main.sub-sites {
        padding-inline: 15px;
    }
}

/* desktop */
@media (min-width: 768px) {
    .sub-sites-container {
        justify-items: unset;
        grid-template-columns: minmax(290px, 400px) 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'header main'
    }

    main.sub-sites {
        width: clamp(350px, 760px, 61vw);
    }
}


/* table  */
th,
td,
th p,
td p {
    font-size: 1rem;
    font-family: Anonymous, monospace;
}

th {
    font-weight: 900;
}

table.buyer-persona th {
    text-align: left;
}

table.buyer-persona td,
table.buyer-persona th {
    padding: 8px;
    border-top: 1px solid #1d272c1a;
}

table.buyer-persona tr:hover {
    background-color: #1d272c1a;
}

table.buyer-persona tr:hover td,
table.buyer-persona tr:hover th,
table.buyer-persona tr:hover td p {
    color: black;
}

/* end table  */


div.preview {
    padding: 24px;
    background: #1d272c0b;
    text-align: center;
}


div.swatch-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

div.color-swatch-wrapper {
    font-family: Anonymous, monospace;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-basis: 310px;
    flex-grow: 1;
}

div.color-swatch {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* hashtag for help channel */
.slack-logo {
    width: 20px;
    height: auto;
    margin-right: 2px;
}


/* data icons => data-icon | data-emoji<⚓> | data-marker | data-before<span||a> */

/* li icons for team-wiki */
[data-icon="clockify"] {
    list-style-image: url(../imgs/icons/bullets/clockify.svg);
}

[data-icon="slack"] {
    list-style-image: url(../imgs/icons/bullets/slack.svg);
}

[data-icon="drive"] {
    list-style-image: url(../imgs/icons/bullets/drive.svg);
}

[data-icon="figma"] {
    list-style-image: url(../imgs/icons/bullets/figma.svg);
}

[data-icon="github"] {
    list-style-image: url(../imgs/icons/bullets/github.svg);
}

[data-icon="namecheap"] {
    list-style-image: url(../imgs/icons/bullets/namecheap.svg);
}

[data-icon="freshbooks"] {
    list-style-image: url(../imgs/icons/bullets/freshbooks.svg);
}

[data-icon="asana"] {
    list-style-image: url(../imgs/icons/bullets/asana.svg);
}

[data-icon="wise"] {
    list-style-image: url(../imgs/icons/bullets/wise.svg);
}

[data-icon="1password"] {
    list-style-image: url(../imgs/icons/bullets/1password.svg);
}

/* data-types para poner EMOJIS en elementos (<span> || <a>)::before */

[data-emoji="anchor"]::before {
    content: "⚓";
    display: inline-block;
    text-decoration: none;
}

[data-emoji="link"]::before {
    content: "🔗";
    display: inline-block;
    text-decoration: none;
}

[data-emoji="megaphone"]::before {
    content: "📣";
    display: inline-block;
    text-decoration: none;
}


/* bullets markers for -"4.2 channels" on /teamwiki */

/* li{list-style-type:"🌴" == li:market{content:"🌴" */

/*general*/
.wiki-team_messaging-general li:nth-of-type(1)::marker {
    content: "📣";
}

.wiki-team_messaging-general li:nth-of-type(2)::marker {
    content: "🙋";
}

.wiki-team_messaging-general li:nth-of-type(3)::marker {
    content: "🌴";
}

.wiki-team_messaging-general li:nth-of-type(4)::marker {
    content: "👨‍💻";
}
.wiki-team_messaging-general li:nth-of-type(5)::marker {
    content: "🚀";
}

/*education*/
.wiki-team_messaging-education li:nth-of-type(1)::marker {
    content: "🎨";
}

.wiki-team_messaging-education li:nth-of-type(2)::marker {
    content: "📐";
}

/* DATA-BEFORE*/
/* data-types para poner .SVG::before a elementos (<span> || <a>) */
[data-before]::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    text-decoration: none;
    height: 25px;
    width: 27px;
    background-size: contain;
    background-repeat: no-repeat;
}

[data-before="plfn"]::before {
    background-image: url(../imgs/icons/brand-icons/polyfen-icon.svg);
}

[data-before="plkt"]::before {
    background-image: url(../imgs/icons/brand-icons/polykit-icon.svg);
}

[data-before="plqr"]::before {
    background-image: url(../imgs/icons/brand-icons/polyqwerty-icon.svg);
}

[data-before="plat"]::before {
    background-image: url(../imgs/icons/brand-icons/polyatlas-icon.svg);
}

[data-before="plck"]::before {
    background-image: url(../imgs/icons/brand-icons/polycookies-icon.svg);
}
/* others */
[data-before="github"]::before {
    background-image: url(../imgs/icons/bullets/github.svg);
}
[data-before="slack"]::before {
    background-image: url(../imgs/icons/bullets/slack.svg);
}
[data-before="wise"]::before {
    background-image: url(../imgs/icons/bullets/wise.svg);
}
[data-before="drive"]::before {
    background-image: url(../imgs/icons/bullets/drive.svg);
}
[data-before="bh"]::before {
    background-image: url(../imgs/icons/BH.svg);
}

/* data-types para poner .SVG 'as a ::marker' en los <li> */
/* DATA-MARKER !!! */
ul:has(li[data-marker]) {
    list-style: none;
}

li[data-marker] {
    position: relative;
}

[data-marker]::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    height: 25px;
    width: 27px;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
}

[data-marker="plfn"]::before {
    background-image: url(../imgs/icons/brand-icons/polyfen-icon.svg);
}

[data-marker="plat"]::before {
    background-image: url(../imgs/icons/brand-icons/polyatlas-icon.svg);
}

[data-marker="plqr"]::before {
    background-image: url(../imgs/icons/brand-icons/polyqwerty-icon.svg);
}

[data-marker="plck"]::before {
    background-image: url(../imgs/icons/brand-icons/polycookies-icon.svg);
}

[data-marker="plkt"]::before {
    background-image: url(../imgs/icons/brand-icons/polykit-icon.svg);
}

[data-marker="plpr"]::before {
    background-image: url(../imgs/icons/brand-icons/polypress-icon.svg);
}


/*************************** end sub-styles *************************************/

h2.title-2 {
    margin-top: 1rem;
    padding-top: 2rem;
}


section.sub-brands-container hr {
    margin: 6rem 0;
    max-width: 100%;
}

img.window-frame {
    min-width: calc(100%);
}

.sub-brands-container h2.heading-1 {
    margin-top: 6rem !important;
    margin-bottom: -2rem !important;
}

img.web-screenshot {
    border-radius: 0 0 4px 4px;
}

a.screen figure {
    border-radius: 6px 6px 4px 4px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

a.screen figure:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
    box-shadow: 0 2px 6px #0908233b;
}

/*Accordion start*/
div.accordions-container {
    padding-top: 2rem;
}

div.accordion {
    margin-bottom: 32px;
}

div.acc-button {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
}

div.acc-button img {
    margin-right: 10px;
    margin-top: -6px;
}

.acc-button .heading-3 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

/**/
.acc-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media (min-width: 1024px) {
    .acc-panel {
        padding-left: 46px;
    }
}

.acc-button {
    cursor: pointer;
    transition: 0.4s;
}

.acc-button:hover:after {
    color: #7537f8
}

.acc-button:after {
    content: '\002B';
    margin-left: 4px;
    margin-bottom: 12px;
    font-size: 14px;
}

.acc-button.active:after {
    content: "\2212";
}

/*Accordion end*/


/* Alambre */
@media (min-width: 1200px) {
    li a {
        font-size: 25px;
        font-family: 'freight-text-pro', serif;
    }
}



blockquote p {
    font-style: italic;
    text-align: left;
}

span.data-span {
    font-style: italic;
}

i {
    font-family: 'freight-text-pro', serif;
    font-style: italic;
}

.preview.light-mode-signature {
    background: white;
}

.preview.light-mode-signature .base-text {
    color: #000000;
}

.preview.dark-mode-signature {
    background: black;
}

.preview.dark-mode-signature {
    color: #ffffff;
}