html,
body {
    background: #ecf0f3;
}

body {
    border-top: 12px solid #7637f9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    padding-inline: 25px;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

img#tpg-wordmark {
    top: 23px;
    position: absolute;
}

main {
    grid-column: 1/2;
    grid-row: 2/3;
    position: block;
    /*     position: absolute;
    left: 280px;
 */
}

main section.sub-brands-container {
    max-width: 600px;
}

header img {
    width: 150px;
    height: auto;
}

header nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

header nav a.external-url {
    display: flex;
    align-items: center;
    flex-direction: row;
}

header img.external-url-icon {
    height: 16px;
    margin-right: 6px;
    margin-top: -3px;
    width: 10px;
}

* {
    font-family: BiotifMedium;
}

.BiotifMedium {
    font-family: BiotifMedium;
}

.BiotifBold {
    font-family: BiotifBold;
}

.BiotifExtraBold {
    font-family: BiotifExtraBold;
}

h1,
h2,
h3,
h4,
h5 {
    color: #12123a;
}

p,
p a,
li,
p strong,
p span,
li strong {
    font-family: 'freight-text-pro', serif;
}

section#cover {
    max-width: 990px;
    padding-top: 1.6rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid #0709240d;
}

section.sub-brand {
    margin-bottom: 2rem;
}

section.sub-brand img {
    max-height: 50px;
}

section.sub-brand p {
    padding-top: 12px;
}

hr {
    margin: 45px auto;
}

a.web-url {
    display: flex;
    align-items: center;
    flex-direction: row;
}

img.web-icon {
    height: 25px;
    margin-right: 8px;
    margin-top: -2px;
}

a {
    color: #1f8df0;
    letter-spacing: -0, 1px;
}

a {
    position: relative;
    width: max-content;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #1f8df0;
    bottom: 0px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.web-url:before {
    bottom: -4px;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

a.current-page:hover::before {
    content: none;
}

a img.external-url-icon,
a img.web-icon {
    opacity: 0.6;
}

a:hover img.external-url-icon,
a:hover img.web-icon {
    opacity: 1;
}

section#cover p {
    max-width: 490px;
}

/* h1 with images ///////////////////////*/
.--sub-brand a::before { content: none;}
.polyfen a { width:153px; height:50px;}
.polyatlas a { width:175px; height:50px;}
.polycookies a { width:206px; height:50px;}
.polyforum a { width:194px; height:50px;}
.polyqwerty a { width:223px; height:50px;}
.polykit a { width:207px; height:50px;}
.polypress a { width:223px; height:50px;}
.--sub-brand a span {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    z-index:9;
}

.polyfen a span { background:#ecf0f3 url(../imgs/sub-brands/polyfen-logo.svg) no-repeat left top;}
.polyatlas a span { background:#ecf0f3 url(../imgs/sub-brands/poly-atlas-logo.svg) no-repeat left top;}
.polycookies a span { background:#ecf0f3 url(../imgs/sub-brands/poly-cookies-logo.svg) no-repeat left top;}
.polyforum a span { background:#ecf0f3 url(../imgs/sub-brands/poly-forum-logo.svg) no-repeat left top;}
.polyqwerty a span { background:#ecf0f3 url(../imgs/sub-brands/poly-qwerty-logo.svg) no-repeat left top;}
.polykit a span { background:#ecf0f3 url(../imgs/sub-brands/polykit-logo.svg) no-repeat left top;}
.polypress a span { background:#ecf0f3 url(../imgs/sub-brands/polypress-logo.svg) no-repeat left top;}


/* issue to talk, this is not mobile first polykit*/
section#cover {
    padding-top: 0;
}
h2.title-2 {
    margin-top: 0;
    padding-top: 0;
}

.current-page {
    opacity: 0.4;
}

/*///////////Media queries///////////*/

@media (min-width: 768px) {
    body {
        border-top: 12px solid #7637f9;
        display: grid;
        grid-template-columns: 280px 1fr;
        grid-template-rows: auto;
        justify-items: start;
        padding-inline: unset;
    }

    main {
        grid-column: 2/3;
        grid-row: auto;
    }

    header {
        grid-column: 1/2;
        grid-row: auto;
        position: fixed;
    }

    header nav {
        gap: 5px;
        margin-top: 30px;
        margin-bottom: 40px;
        align-items: flex-start;
    }

    /* issue to talk, this is not mobile first polykit*/
    section#cover {
        padding-top: 1.6rem;
    }
    
    h2.title-2 {
        margin-top: 1rem;
        padding-top: 2rem;
    }
    
    
}