header {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* HOME START */

.home header {
    position: relative;
    top: 0;
    display: flex;
    padding: 20px;
    grid-area: header;
    flex-direction: column;
}

.home header img {
    width: 150px;
    height: auto;
}

.home img#tpg-wordmark {
    top: 23px;
    position: absolute;
}

@media (min-width: 768px) {
    .home header {
        position: fixed;
        top: 60px;
    }
}

.home-cover {
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 220px;
}

.home-cover h1 {
    max-width: 900px;
    margin-left: 0;
}

.home-cover p {
    max-width: 490px;
}

.sub-brands {
    margin-top: 80px;
}

.polyfen a span {
    background: #ecf0f3 url(../imgs/sub-brands/polyfen-logo.svg) no-repeat left top;
}

.polyatlas a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-atlas-logo.svg) no-repeat left top;
}

.polycookies a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-cookies-logo.svg) no-repeat left top;
}

.polyforum a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-forum-logo.svg) no-repeat left top;
}

.polyqwerty a span {
    background: #ecf0f3 url(../imgs/sub-brands/poly-qwerty-logo.svg) no-repeat left top;
}

.polykit a span {
    background: #ecf0f3 url(../imgs/sub-brands/polykit-logo.svg) no-repeat left top;
}

.polypress a span {
    background: #ecf0f3 url(../imgs/sub-brands/polypress-logo.svg) no-repeat left top;
}

/* HOME END */

.gradient-text {
    background: linear-gradient(45deg,#722FFF,#4b00ae,#d12b94,#722FFF,#4b00ae);
    background: -webkit-linear-gradient(45deg,#722FFF,#4b00ae,#d12b94,#722FFF,#4b00ae);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 4s ease-in-out infinite;
    -moz-animation: animated_text 4s ease-in-out infinite;
    -webkit-animation: animated_text 4s ease-in-out infinite;
}

@keyframes animated_text {
0% { background-position: 0px 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0px 50%; }} 