.hello-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 1rem;
    padding: 1rem;
    background-color: #1d272c;;
    }

    .hello-nav a {
        color: #ffffffc8;
    }

    .hello-nav a:hover {
        color: #ffffff;
    }
    .hello-nav a.current-page:hover {
        color: #ffffffc8;
    }

    body {
        margin-top: 50px;
    }
    
    body nav {
        margin-top: 0px;
    }
    @media (min-width: 768px) {
        body nav {
            margin-top: 50px;
        }
    }

    
    .current-page {
        opacity: 0.4;
    }

    a.current-page:hover::before {
        content: none;
    }

body nav {
    background: none;
}

th, td, th p, td p {
    font-size: 1rem;
    font-family: Anonymous, monospace;
}

th {
    font-weight: 900;
}

table.buyer-persona th {
    text-align: left;
}

table.buyer-persona td, table.buyer-persona th {
    padding: 8px;
    border-top: 1px solid #1d272c1a;
}

table.buyer-persona tr:hover {
    background-color: #1d272c1a;
}

table.buyer-persona tr:hover td, table.buyer-persona tr:hover th, table.buyer-persona tr:hover td p {
    color: black;
}

div.preview {
    padding:24px;
    background: #1d272c0b;
    text-align: center;
}

div.color-swatch {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.color-swatch-wrapper {
    font-family: Anonymous, monospace;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

div.swatch-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

a.link-logo:hover::before {
    content: none;
}