.hello-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 1rem;
    padding-block: 1rem;
    background-color: #1d272c;;
}

.hello-nav a {
    color: #ffffffc8;
}

.hello-nav a:hover {
    color: #ffffff;
}
.hello-nav a.current-page:hover {
    color: #ffffffc8;
}

body {
    margin-top: 50px;
}

body nav {
    margin-top: 0px;
}

#navbar li {
    line-height: 1;
}

@media (min-width: 768px) {
    body nav {
        margin-top: 50px;
    }
}


.current-page {
    opacity: 0.4;
}

a.current-page:hover::before {
    content: none;
}

@media (min-width: 768px) {
    body nav {
        background: none;
    }
}

th, td, th p, td p {
    font-size: 1rem;
    font-family: Anonymous, monospace;
}

th {
    font-weight: 900;
}

table.buyer-persona th {
    text-align: left;
}

table.buyer-persona td, table.buyer-persona th {
    padding: 8px;
    border-top: 1px solid #1d272c1a;
}

table.buyer-persona tr:hover {
    background-color: #1d272c1a;
}

table.buyer-persona tr:hover td, table.buyer-persona tr:hover th, table.buyer-persona tr:hover td p {
    color: black;
}

div.preview {
    padding:24px;
    background: #1d272c0b;
    text-align: center;
}

div.color-swatch {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.color-swatch-wrapper {
    font-family: Anonymous, monospace;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

div.swatch-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

a.link-logo:hover::before {
    content: none;
}

.slack-logo {
    width: 20px;
    height: auto;
    margin-right: 2px;
}

/*  */

/* li icons for team-wiki */
li[data-icon="clockify"] {
    list-style-image: url(../imgs/icons/bullets/clockify.svg); }

li[data-icon="slack"] {
    list-style-image: url(../imgs/icons/bullets/slack.svg);
}
ul.arrow-bullet li[data-icon="drive"] {
    list-style-image: url(../imgs/icons/bullets/drive.svg);
}
ul.arrow-bullet li[data-icon="figma"] {
    list-style-image: url(../imgs/icons/bullets/figma.svg);
}
ul.arrow-bullet li[data-icon="github"] {
    list-style-image: url(../imgs/icons/bullets/github.svg);
}
ul.arrow-bullet li[data-icon="namecheap"] {
    list-style-image: url(../imgs/icons/bullets/namecheap.svg);
}
ul.arrow-bullet li[data-icon="freshbooks"] {
    list-style-image: url(../imgs/icons/bullets/freshbooks.svg);
}
ul.arrow-bullet li[data-icon="asana"] {
    list-style-image: url(../imgs/icons/bullets/asana.svg);
}
ul.arrow-bullet li[data-icon="wise"] {
    list-style-image: url(../imgs/icons/bullets/wise.svg);
}
ul.arrow-bullet li[data-icon="1password"] {
    list-style-image: url(../imgs/icons/bullets/1password.svg);
}

.heading-4 {
    font-size: 25.5px;
    line-height: 34px;
    padding-bottom: 10px;
}


/* family-of-brands component, temporalmente lo pongo en sub-styles.css, ya esta en styles.css */

a img {
    display: inherit;
}

/* en styles.css esta llamando dentro de *main section.sub-brands...* */
section.sub-brands-container {
    max-width: 800px;
}

section.sub-brand {
    margin-bottom: 2rem;
}

/* h1 with images ///////////////////////*/
.--sub-brand a::before { content: none;}
.polyfen a { width:153px; height:50px;}
.polyatlas a { width:175px; height:50px;}
.polycookies a { width:206px; height:50px;}
.polyforum a { width:194px; height:50px;}
.polyqwerty a { width:223px; height:50px;}
.polykit a { width:207px; height:50px;}
.polypress a { width:223px; height:50px;}
.--sub-brand a span {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    z-index:9;
    background-size: contain !important;
}

.polyfen a span { background:#ecf0f3 url(../imgs/sub-brands/polyfen-logo.svg) no-repeat left top;}
.polyatlas a span { background:#ecf0f3 url(../imgs/sub-brands/poly-atlas-logo.svg) no-repeat left top;}
.polycookies a span { background:#ecf0f3 url(../imgs/sub-brands/poly-cookies-logo.svg) no-repeat left top;}
.polyforum a span { background:#ecf0f3 url(../imgs/sub-brands/poly-forum-logo.svg) no-repeat left top;}
.polyqwerty a span { background:#ecf0f3 url(../imgs/sub-brands/poly-qwerty-logo.svg) no-repeat left top;}
.polykit a span { background:#ecf0f3 url(../imgs/sub-brands/polykit-logo.svg) no-repeat left top;}
.polypress a span { background:#ecf0f3 url(../imgs/sub-brands/polypress-logo.svg) no-repeat left top;}

/* grid for sub-brands */
.sub-brand {
    display: grid;
    grid-template-areas:
    'logos'
    'screens'
    'texts'
    'links';
    gap: 2rem 3rem;
}

.sub-brand p {
    margin-bottom: unset;
    padding-top: unset;
}
@media (min-width: 768px) {
    .sub-brands-container {
        padding-inline: 20px;
    }
    .sub-brand {
        grid-template-areas:
        'screens logos'
        'screens texts'
        'screens links';
        justify-content: start;
        padding-top: 10px;
    }
    .sub-brand .screen {
        margin-top: unset;
        aspect-ratio: 4/3;
        width: 100%;
        width: 299px;
    }
}

.--sub-brand { grid-area: logos;}
.sub-brand p { grid-area: texts;color:#4f4f58;}
.sub-brand .links { grid-area: links;}
.sub-brand .screen { grid-area: screens;}

a.screen {
    width: unset;
}

section.sub-brands-container hr {
    margin: 6rem 0;
    max-width: 100%;
}

img.window-frame {
    min-width: calc(100% + 2px);
    margin-bottom: -2px;
    margin-left: -1px;
    margin-right: -1px;
}

.sub-brands-container h2.heading-1 {
    margin-top: 6rem !important;
    margin-bottom: -2rem !important;
}

img.web-screenshot {
    border-radius: 0 0 4px 4px;
}

/*extra para los links*/
a::before {
    content: none;
}
a:not(:has(img))::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #7537f8;
    bottom: 0px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
/* family-of-brands component */